//********************* Colors *********************//

$primary: #cc003d;
$primary-dark: #8f002b;
$primary-light: #f2dedf;

$white: #fff;

$gray: #949494;
$gray-20: #e7e7e7;
$gray-30: #d8d8d8;
$gray-40: #999b9e;
$gray-50: #6a6a6a;

$bodyBg: $white;
