.content_options {
  h3 {
    @extend .monts_medium_16;
    margin-bottom: 8px;
  }
}

.content_next {
  margin: 32px auto;
  height: 48px;
}

.content--tattoos {
  .checkbox-group-wrapper {
    @include grid($columns: repeat(5, 200px));

    @include desktop-large {
      @include grid($columns: repeat(4, 220px));
    }

    @include laptops-large {
      @include grid($columns: repeat(4, 160px));
    }

    @include laptops {
      @include grid($columns: repeat(3, 130px));
    }

    @include tablets {
      @include grid($columns: repeat(1, auto));
    }
    gap: 16px;
  }
  margin-bottom: 24px;
}

.content--piercin {
  .checkbox-group-wrapper {
    @include grid($columns: repeat(4, 200px));

    @include desktop-large {
      @include grid($columns: repeat(4, 220px));
    }

    @include laptops-large {
      @include grid($columns: repeat(4, 160px));
    }

    @include laptops {
      @include grid($columns: repeat(2, 130px));
    }

    @include tablets {
      @include grid($columns: repeat(1, auto));
    }

    gap: 16px;
  }
}
