.content_options {
  display: grid;
  gap: 16px;

  &__other-row,
  &__first-row {
    form {
      @include grid(
        null,
        repeat(auto-fit, minmax(100px, 193px)),
        $gap: 16px,
        $justify-content: center
      );
    }
  }
}
